/* PAGE STYLES */

* {
    /* border: red solid 1px; */
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-weight: lighter;
    letter-spacing: 0.04em;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

/* HEADER */

.header {
    padding: 20px 0;
    color: white;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    margin-left: 15%;
}

.links {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 14px;
    margin-right: 15%;
}

/* SECTION 1 */

.sec-one {
    color: white;
    background-color: #1F2937;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    align-items: center;
}

.left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    flex: 1;
    height: 225px;
    margin: 100px 0 100px 15%;
    flex-shrink: 1;
}

.placeholder-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #555555;
    height: 225px;
    margin: 100px 15% 100px 0;
}

.pi-text {
    font-size: 14px;
    margin: 0 10%;
}

.left-content .title {
    font-size: 36px;
    font-weight: bold;
}

.signup-button {
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    padding: 8px 25px;
    color: white;
    margin-top: 10px;
    font-weight: bold;
}

/* SECTION TWO */

.sec-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.sec-two .title {
    font-size: 32px;
    font-weight: bold;
    margin-top: 40px;
}

.img-text-blocks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin: 0 10% 100px
}

.img-text-block {
    display: flex;
    width: 135px;
    gap: 8px;
    flex-direction: column;
}

.img-text {
    height: 135px;
    width: 135px;
    border: 3px #3882F6 solid;
    border-radius: 15px;
}

.subtext {
    text-align: center;
    font-size: 12px;
}

/* SECTION THREE */

.sec-three {
    display: flex;
    background-color: #E5E7EB;
    align-items: center;
    justify-content: center;
}

.blockquote {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    width: 650px;
    margin: 100px 20% 100px;
}

.quote {
    align-self: flex-start;
    font-size: 27px;
    font-weight: lighter;
}

.quote-caption {
    align-self: flex-end;
    font-weight: bold;
    margin-right: 20px;
}

/* SECTION FOUR */

.sec-four {
    height: 325px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    width: 1035px;
    height: 135px;
    margin: 0 10%;
    padding: 5% 10%;
    gap: 10%;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
}

.cta-title {
    font-size: 20px;
    font-weight: bold;
}

.cta-button {
    background-color: #3882F6;
    border: white 2px solid;
    color: white;
    padding: 8px 30px;
    border-radius: 5px;
    font-weight: bold;
    flex-shrink: 0;
}

/* FOOTER  */

footer {
    display: flex;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}